<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/about.css">

    <title>SEUCC - About</title>
</head>
<body>
    
    <div class="navbar">
        <div class="logo">
            <a href="../index.html">Southeast Computer Club</a>a>
        </div>
        <div class="Search">
            <input type="search" placeholder="Search">
        </div>
        <div class="menu">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="certificates.html">Certificate</a></li>
                <li><a href="about.html">About Club</a></li>
            </ul>
        </div>
    </div>


    <div class="about">
        <div class="club">
            <div class="about-club">
                <h1>About Club</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illo cumque quisquam necessitatibus consectetur cum, magni alias! Ratione saepe esse molestiae! Animi consectetur distinctio, quisquam accusantium exercitationem fuga quos repudiandae!
                Suscipit quam repellat earum cumque iusto praesentium ducimus deserunt. Nam nihil, velit numquam saepe sapiente officia sunt delectus incidunt! Facere iusto enim illo tempora quibusdam dolorum suscipit rem dignissimos labore.
                Dolorem recusandae, tempora dolor sequi nisi cum illum beatae architecto laborum! Voluptatibus iure tempora corporis natus. Facere ullam quos aperiam illum maiores ab quisquam fugiat possimus repellat, amet saepe rem!
                Sunt explicabo, ad nesciunt, non distinctio nisi tempora exercitationem odio totam architecto iusto vitae culpa quo aperiam autem quibusdam blanditiis at error corporis quia, ea iure maiores magni! Vero, et!
                Sed et facilis adipisci unde accusamus molestiae laudantium perferendis ad impedit temporibus quis iste magnam, sapiente quaerat eligendi fugit. Reiciendis repellendus unde libero vel quos delectus, culpa perspiciatis laborum quibusdam. <br><br>
                Quidem, voluptatum perspiciatis nulla porro tenetur enim fugiat hic vero expedita eveniet corporis architecto, autem, libero facere soluta? Repellat adipisci molestiae explicabo iusto voluptatum cum doloremque fuga minima. In, neque!
                Consequatur saepe pariatur similique tempore libero incidunt nisi eveniet ducimus perspiciatis, porro provident quam. Amet, fugiat corporis. Corrupti, iste voluptatum qui quia id deleniti! Illum eum porro voluptatum repellat doloribus.
                Ipsa molestias eos veritatis a nam maiores consequuntur maxime illo dolorem? Non veniam facilis unde! Autem, iure adipisci quam nam earum recusandae maxime labore voluptates nemo rerum cupiditate dolores porro!
                Porro repudiandae laboriosam rerum, accusamus ipsa asperiores iste libero id aut molestias magnam ipsum sunt laudantium provident nemo magni. Perspiciatis repudiandae ipsam, exercitationem nulla amet quas ducimus deleniti odio dicta.
                Impedit quo placeat, eos ipsam, eveniet necessitatibus optio dolorem aliquam totam eligendi facilis incidunt iusto praesentium asperiores ducimus, illo vero ab at aperiam similique quos obcaecati itaque sint. Quibusdam, quo! <br><br>
                Doloremque itaque unde voluptatum repellendus aut nobis praesentium nemo, ullam minus? Deleniti odit est nesciunt voluptatum cupiditate! Eum aliquid repellat, sed soluta minus earum, labore repudiandae, officia saepe a ea.
                Consectetur eos hic esse ducimus sit facere culpa tenetur, perferendis cupiditate, veritatis, quis aut. Error quos earum qui repellendus nisi eveniet dignissimos consequatur atque, itaque, similique laudantium impedit culpa labore.
                Placeat et sunt dolores rerum minima numquam fugiat dolore eaque nesciunt architecto culpa exercitationem deleniti cum magnam, consectetur totam nam voluptas, perspiciatis aperiam repellat aliquam harum optio eos! Iure, inventore.
                Magni fugiat quam sequi exercitationem. Nemo iusto quos dignissimos necessitatibus numquam, fuga adipisci veniam nihil ea expedita in labore illum veritatis molestias, fugiat reprehenderit accusamus? Excepturi est aliquid eius ex!
                Suscipit autem excepturi, necessitatibus commodi esse non facilis deleniti ab voluptatibus perspiciatis, eum aut voluptatum fugit animi minima numquam illo similique in alias. Ex labore quaerat itaque deleniti iusto doloremque!
                Dolorem ducimus et optio odit debitis pariatur, nesciunt quo earum repudiandae distinctio cumque, quasi quod possimus rem laborum vel unde corrupti sit. Reiciendis quia, voluptas corrupti asperiores nulla impedit aliquid!
                Quo aut reprehenderit ipsa porro ratione impedit sequi reiciendis rerum sit quisquam recusandae ex, commodi corrupti tempora ea minima aliquid quidem consequatur voluptate dolore sint veritatis. Cumque, molestiae eius? Ducimus.
                Quae est error facere voluptas similique culpa rem! Iusto, dicta, sequi assumenda eum possimus eius sed laboriosam corrupti veritatis unde fugiat aut. Numquam quae itaque commodi, natus eligendi ipsum similique.
                Reiciendis, atque aliquam. Asperiores est quia exercitationem, eum error reiciendis quo? Itaque eius facilis sit et, voluptates repellendus iure placeat, eaque natus, voluptatum veritatis accusamus quam autem quae quos cupiditate.
                Reprehenderit dicta odit dolores impedit quas dignissimos dolor velit, nesciunt itaque expedita vero, ducimus aliquid possimus vitae a accusamus eaque blanditiis soluta obcaecati fugit reiciendis quia accusantium. Sunt, repellendus eveniet.</p>
            </div>
        </div>
        <div id="back">

        </div>
        <div class="activities">
            <div class="activity">
                <h1>Our Activities In 2022</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni at accusamus quidem omnis numquam rerum modi harum, id earum eligendi laboriosam itaque delectus nesciunt eaque esse, maxime cupiditate quia illo!
                Quisquam delectus libero modi quo, quasi ullam doloribus possimus autem esse fugit corporis dolorum saepe quos unde enim rem asperiores in, sit laborum velit tempore quae explicabo veritatis. Qui, consectetur?
                Voluptatibus nam laudantium enim similique in quo temporibus consectetur fugit deserunt voluptas. Inventore vel aliquid vitae corrupti mollitia expedita perspiciatis iure, illum, amet veniam, voluptate pariatur molestiae sint numquam. Nesciunt.</p><br>
                <div class="list">
                    <h2>Programs Name</h2>
                    <div class="programs">
                        <ul>
                            <li>Programming Contest</li>
                            <li>Robotics In Real Life</li>
                            <li>Graphics Design 5 Days Workshop</li>
                            <li>Cyber Security Training</li>
                            <li>BrainStorming In ICT</li>
                            <li>Math Olympiad</li>
                            <li>Web Development Workshop 3 Days</li>
                            <li>Cyber Security Training</li>
                            <li>Programming Contest</li>
                            <li>Meet And Greet With Club Alumni</li>
                            <li>BrainStorming In ICT</li>
                            <li>Math Olympiad</li>
                            <li>Robotics In Real Life</li>
                            <li>Programming Skill Development</li>
                            <li>Programming Contest</li>
                            <li>Robotics In Real Life</li>
                            <li>Graphics Design 5 Days Workshop</li>
                            <li>Cyber Security Training</li>
                            <li>BrainStorming In ICT</li>
                            <li>Physics Olympiad</li>
                            <li>Math Olympiad</li>
                            <li>Web Development Workshop 3 Days</li>
                            <li>Cyber Security Training</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="join">
            <div class="text">
                <h3>How To Join Us?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates illum assumenda deserunt, perferendis minima sed laborum tempore, repudiandae quis sunt tempora, porro molestias fugit obcaecati aliquam temporibus. Perspiciatis, placeat est.
                Voluptate repudiandae voluptatum ipsum nostrum quae dolor dolorem in ullam, fugit qui cupiditate vel voluptates aspernatur, amet, impedit est maxime voluptatem. Enim sit pariatur et officia perspiciatis porro facere quod.
                Ab pariatur deserunt, molestias accusamus dolor quis dolorem necessitatibus nihil aut debitis et asperiores deleniti. Aspernatur praesentium ab officia alias, quasi sed ad sunt consequuntur possimus culpa. Labore, beatae adipisci.
                Qui neque, totam labore vel dignissimos dolor error molestias non consequuntur! Dolore odit doloremque saepe recusandae accusantium assumenda, velit ducimus! Culpa nulla minus nihil autem delectus? Saepe, assumenda tempore. Quo.</p>
            </div>
        </div>
    </div>




    <div class="footer">
        <div class="contact">
             <div class="form">
                 <h1>Find Us</h1>
                 <input type="text" placeholder="Email Address">
                 <textarea placeholder="Message Here"></textarea>
                 <button type="submit">Submit</button>
             </div>
        </div>
     </div>
 
     <div class="copyright">
         &copy;Southeast Computer Club 2022 All Rights Reserved
     </div>

</body>
</html>