<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../css/index.css">

    <title>SEUCC - Gallery</title>
</head>
<body>
    
    <div class="navbar">
        <div class="logo">
            <a href="../index.html">Southeast Computer Club</a>
        </div>
        <div class="Search">
            <input type="search" placeholder="Search">
        </div>
        <div class="menu">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="certificates.html">Certificate</a></li>
                <li><a href="about.html">About Club</a></li>
            </ul>
        </div>
    </div>




    <div class="footer">
        <div class="contact">
             <div class="form">
                 <h1>Find Us</h1>
                 <input type="text" placeholder="Email Address">
                 <textarea placeholder="Message Here"></textarea>
                 <button type="submit">Submit</button>
             </div>
        </div>
     </div>
 
     <div class="copyright">
         &copy;Southeast Computer Club 2022 All Rights Reserved
     </div>




</body>
</html>